{% extends 'base.html.twig' %}

{% block title %}{{ article.libelle }}{% endblock %}

{% block vue %}
    <div class="container">
        <figure>
            <img src="{{ article.image }}" alt="photo">
        </figure>
        <p>Nom du produit: {{ article.libelle }}</p>
        <p>Prix: {{ article.prix }}</p>
        <p>Quantité en stock: {{ article.quantite }}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Ajouter au panier </button>
                {% if app.user %}
                <a href="{{ path('edit', {"id": article.id}) }}"><button type="button" class="btn btn-sm btn-outline-secondary">Modifier</button></a>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
